<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>39</string>
							<key>EndingLineNumber</key>
							<string>128</string>
							<key>StartingColumnNumber</key>
							<string>35</string>
							<key>StartingLineNumber</key>
							<string>128</string>
							<key>Timestamp</key>
							<string>736848499.484347</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>SpotifyCover/Views/Home/HomeViewModel.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>MARK</string>
						<key>leading</key>
						<string>                            )
                            .asButton(.press) {
                                // </string>
						<key>trailing</key>
						<string>: TODO: Unimplemented Functions
                            }
                        }
</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>37</string>
							<key>EndingLineNumber</key>
							<string>90</string>
							<key>StartingColumnNumber</key>
							<string>33</string>
							<key>StartingLineNumber</key>
							<string>90</string>
							<key>Timestamp</key>
							<string>736848423.460351</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>SpotifyCover/Views/Home/HomeViewModel.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>TODO</string>
						<key>leading</key>
						<string>                        title:product.title
                    ).asButton(.press) {
                        // MARK: </string>
						<key>trailing</key>
						<string>: Unimplemented Functions
                    }
                }
</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>51</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>50</string>
							<key>Timestamp</key>
							<string>736847715.8610179</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>SpotifyCover/Views/Home/HomeViewModel.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>                            // MARK: TODO: Unimplemented Functions
</string>
						<key>leading</key>
						<string>                        .clipShape(Circle())
                        .onTapGesture {
</string>
						<key>trailing</key>
						<string>                        }
                }
            }
</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>105</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>104</string>
							<key>Timestamp</key>
							<string>736848381.998764</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>SpotifyCover/Views/Home/HomeViewModel.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>                // MARK: TODO: Unimplemented Functions
</string>
						<key>leading</key>
						<string>                // MARK: TODO: Unimplemented Functions
            } onPlayPressed: {
</string>
						<key>trailing</key>
						<string>            }
        
    }
</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>103</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>102</string>
							<key>Timestamp</key>
							<string>736848381.998785</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>SpotifyCover/Views/Home/HomeViewModel.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>                // MARK: TODO: Unimplemented Functions
</string>
						<key>leading</key>
						<string>            title: product.title,
            subtitle: product.description) {
</string>
						<key>trailing</key>
						<string>            } onPlayPressed: {
                // MARK: TODO: Unimplemented Functions
            }
</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>TODO</string>
			<key>type</key>
			<string>group</string>
		</dict>
	</array>
</dict>
</plist>
